.bloknot img {
    width: 500px;
}

.bloknot-text {
    font-size: 1.4em;
    line-height: 1.5em;
    padding: 80px 20px 20px 40px;
    max-width: 380px;
}

.bloknot-text-img {
    display: flex;
    padding-top: 20px;
    width: 1100px;
}

.bloknot-text-img h2 {
    padding: 150px 20px 0px 20px;
    font-size: ;
}


.photos {
    padding-top: 80px;
    padding-bottom: 20px;
}

.photos p {
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
}

.photos p img {
    padding: 10px;
    background-color: #fffefe;
    border-radius: 158px;
    box-shadow: 0px 0px 15px 0px #848484;
}


table {
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    border: 0.5px solid #f0ebeb;
    text-align: center;
    box-shadow: 0px 0px 20px 0px #929292;
    border-collapse: collapse;
}

td, th {
    border: thin dotted #9d9a9a;
    padding: 5px;
}
.table tr:nth-child(odd)  {
    background-color: #e3e2e2;
}

.footer {
    padding-top: 80px;
}

h2 {
    font-size: 30px;
    width: 130px;
}