.content {
    width: 1280px;
    /*background-color: aliceblue;*/
    display: block;
    margin: 0 auto;
    font-family: Neuron;
    color: #434242;
}

.header-logo {
    padding: 20px 0px 20px 40px;
    width: 213px;
}

.header-message {
    position: relative;
    right: 500px;
    top: -75px;
    padding: 10px 0px 0px 25px;
}

.header-message img {
    padding-right: 10px;

}

.header-contacts {
    float: right;
    position: relative;
    top: -100px;
    padding-right: 40px;
}

.header-contacts_tel, .footer-contacts_tel {
    font-size: 26px;
    font-weight: 600;
}

.header-contacts_adress {
    font-size: 20px;
    padding: 5px 0px 5px 0px;
    font-weight: 400;
    text-align: center;
}

.slider {
    height: 396px;
}

.header-contacts_mail {
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}

.menu {
    text-align: center;
    padding: 20px 0px 30px 200px;
}
.menu-item {
    padding: 0px 15px 0px 15px;
    text-decoration: none;
    color: #434242;
    font-size: 22px;
    font-weight: 400;
}

.slider {
    background-image: url("../images/slider.jpg");
}


.footer-logo {
    padding: 20px 0px 20px 40px;
}
.footer-logo img {
    width: 170px;
}

.footer-message {
    position: relative;
    top: -80px;
    left: 590px;
    padding-right: 40px;
}

.footer-message img {
    padding-right: 10px;
}

.footer-contacts {
    float: right;
    position: relative;
    top: -100px;
    padding-right: 40px;
}

.footer-contacts_adress {
    font-size: 20px;
    padding: 5px 0px 5px 0px;
    font-weight: 400;
    text-align: center;
}

.footer-contacts_mail {
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}

