

.content {
    width: 1130px;
    display: block;
    margin: 0 auto;
    font-family: Neuron;
    color: #434242;
}

.header-logo {
    padding: 20px 0px 20px 40px;
    width: 213px;
}

.header-message {
    position: relative;
    right: 430px;
    top: -75px;
    padding: 10px 0px 0px 25px;
}

.header-message img {
    padding-right: 10px;

}

.header-contacts {
    float: right;
    position: relative;
    top: -100px;
    padding-right: 40px;
}

.header-contacts_tel, .footer-contacts_tel {
    font-size: 26px;
    font-weight: 600;
}

.header-contacts_tel a {
    color: #434242;
    text-decoration: none;
}

.header-contacts_adress {
    font-size: 19px;
    padding: 5px 0px 5px 8px;
    font-weight: 400;
    text-align: center;
}

.header-contacts_mail a{
    font-size: 16px;
    padding: 0px 0px 5px 10px;
    text-align: center;
}

.slider {
    height: 396px;
}

.slider-name {
    position: relative;
    width: 800px;
    height: 100px;
    margin: 0 auto;
    top: 160px;
    background-color: white;
    border-radius: 6px 6px 6px 6px;
}

.slider-name {
    text-align: center;
    font-size: 30px;
    padding-top: 6px;
    padding-left: 70px;
    font-weight: 400;
    box-shadow: 0px 0px 20px 0px #929292;
}

.header-contacts_mail {
    font-size: 18px;
    font-weight: 400;
    text-align: center;
}

.header-contacts_mail a {
    text-decoration: none;
    color: #434242;
}


.menu {
    text-align: center;
    padding: 20px 0px 30px 200px;
}
.menu-item {
    padding: 0px 15px 0px 15px;
    margin: 0px 5px 0px 5px;
    text-decoration: none;
    color: #434242;
    font-size: 18px;
    font-weight: 600;
    padding-top: 7px;
    padding-bottom: 4px;
    border-radius: 12px;
    transition: 350ms;
}

.menu-item:hover {
    background-color: #b9b8b8;
    color: white;
    transition: 350ms;
}

.slider {
    background-image: url("../images/slider.png");
    box-shadow: 0px 0px 20px 0px #b5b5b5;
}

.menu-navigation-background {
    background-color: #b9b8b8;
    color: white;
}

.footer img {
    width: 1130px;
}



