h1 {
    text-align: center;
    font-size: 42px;
    font-weight: 400;
    padding-top: 20px;
}

.plus {
    background-color: #e9e8e8;
    padding: 20px 20px 20px 20px;
    border-radius: 0px 0px 350px 350px;
    box-shadow: 0px 0px 20px 0px #b5b5b5;
}


.plus_conteiner {
    padding-top: 20px;
    display: flex;
    width: 860px;
    margin: 0 auto;
}

.plus-price_text, .plus-quality_text, .plus-sroki_text, .plus-time_text {
    text-align: center;
    padding-top: 20px;
    line-height: 23px;
    font-size: 18px;
    font-weight: 600;
}


.plus-price, .plus-quality, .plus-sroki, .plus-time {
    width: 128px;
    padding: 0px 40px 0px 40px;
}

.services {
    display: flex;
    width: 1060px;
    margin: 0 auto;
}

.services-cifra:hover, .services-ofset:hover, .services-rizo:hover, .services-shirik:hover, .services-korob:hover {
    background-color: #e7e6e6;
    transition: 400ms;
    border-radius: 50px;
    box-shadow: 0px 0px 25px 5px #a4a4a4;
}



.services-cifra, .services-ofset, .services-rizo, .services-shirik, .services-korob {
    padding: 28px;
    margin: 10px;
}


.services-cifra_logo:hover, .services-ofset_logo:hover, .services-rizo_logo:hover,
.services-shirik_logo:hover, .services-korob_logo:hover {
    border-radius: 100px;
    transition: 500ms;
}



.services-cifra_name, .services-ofset_name, .services-rizo_name, .services-shirik_name, .services-korob_name {
    text-align: center;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

.services-cifra_text, .services-ofset_text, .services-rizo_text, .services-shirik_text, .services-korob_text {
    font-size: 16px;
    text-align: center;
    color: #939191;
    font-style: italic;
    font-weight: 400;
    padding-top: 10px;
    line-height: 23px;
}

.popular-vizitki, .popular-blank, .popular-buklet, .popular-banner,
.popular2-kalendar, .popular2-listovka, .popular2-bloknot, .popular2-katalog {
    display: flex;
    padding: 15px;
    transition: 350ms;
}

.popular-vizitki:hover, .popular-blank:hover, .popular-buklet:hover, .popular-banner:hover,
.popular2-kalendar:hover, .popular2-listovka:hover, .popular2-bloknot:hover, .popular2-katalog:hover {
    background-color: #e7e6e6;
    transition: 350ms;
    border-radius: 40px;
    box-shadow: 0px 0px 25px 5px #a4a4a4;
}

.popular-vizitki_name, .popular-balnk_name, .popular-buklet_name, .popular-banner_name,
.popular2-kalendar_name, .popular2-listovka_name, .popular2-bloknot_name, .popular2-katalog_name {
    margin: auto 0;
    padding-left: 20px;
    font-size: 20px;
    font-weight: 600;
}


.popular, .popular2 {
    margin: 0 auto;
}

.popular_roll {
    display: flex;

    padding: 50px 0px 100px 0px;
}
