@media screen and (max-width: 850px) {
     .menu a {
         font-size: 16px;
     }

    .slider-name {
        font-size: 23px;
    }
    .popular-vizitki_name, .popular-balnk_name, .popular-buklet_name, .popular-banner_name,
    .popular2-kalendar_name, .popular2-listovka_name, .popular2-bloknot_name, .popular2-katalog_name {
        font-size: 16px;

    }
    .slider-name_item1 {
        padding-left: 62px;
    }
}
